name: yeshup

on:
  [push]
jobs:
  centos:
    name: centos
    runs-on: ubuntu-latest
    if: "contains(toJSON(github.event.commits.*.message), '[build centos]')"
    container: centos:7
    steps:
    - uses: actions/checkout@v2
      name: Checkout project
    - name: Build
      run: |
        yum -y update
        yum -y group install "Development Tools"
        gcc --version
        make
        sha1sum ./yeshup
    - name: Test
      run: |
        ./yeshup echo foo bar
    - name: Archive library
      uses: actions/upload-artifact@v1
      with:
        name: yeshup
        path: yeshup
